.about-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    .about-cards-wrapper {
        width: 90%;
        height: auto;

        margin: 0 auto;
        padding: 120px 0;

        display: flex;
        gap: 1em;

        .about-card {
            width: 33.33%;

            padding: 40px 30px;

            display: flex;
            flex-direction: column;

            border: 1px solid #EFE6E1;

            position: relative;

            z-index: 10;

            .icon-card {
                margin-bottom: 22px;

                font-size: 50px;

                color: #7D8081;
            }

            &>* {
                transition: color 500ms ease;
            }

            &>h2 {
                color: #232728;

                margin-bottom: 10px;

                font-size: 1em;
                text-wrap: balance;
                text-transform: uppercase;
            }

            &>p {
                color: #7D8081;

                font-size: .95em;
                line-height: 156%;

            }

            &:hover {
                &::after {
                    height: 100%;
                }

                &>* {
                    color: #fff;
                }
            }

            &::after {
                content: '';

                width: 100%;
                height: 0;

                display: block;

                background-color: #CA4445;

                position: absolute;
                top: 0;
                left: 0;

                transition: height 500ms ease;

                z-index: -1;
            }
        }
    }

    .about-wrapper {
        width: 100%;
        height: 100%;

        .about-section {
            width: 90%;
            height: 120vh;

            display: flex;

            margin: 0 auto;

            .about-image {
                width: 50%;
                height: 100%;

                position: relative;

                &::after {
                    content: "";

                    width: 24px;
                    height: 361px;

                    position: absolute;
                    right: 90px;
                    top: 0%;

                    animation-timeline: auto;
                    animation-range-start: normal;
                    animation-range-end: normal;

                    background: linear-gradient(rgb(202, 68, 69) 0%, rgba(202, 68, 69, 0) 100%);
                    animation: 4s ease-in-out 0s infinite normal none running topBottom;
                }

                .about-second-image {
                    width: 272px;
                    height: 255px;

                    display: block;

                    position: absolute;
                    top: 51%;
                    right: 10%;

                    background-image: url('../../../public/about-second-image.jpg');
                    background-size: cover;
                    background-position: center;
                }

                & img:not(.about-main-image) {
                    position: absolute;
                    left: -60px;
                    bottom: 130px;

                    animation-timeline: auto;
                    animation-range-start: normal;
                    animation-range-end: normal;

                    animation: 4s ease-in-out 0s infinite normal none running bounce;
                }
            }

            .about-content {
                width: 50%;
                height: 100%;

                .about-content-top {
                    width: 100%;

                    margin: 30px 0;

                    display: flex;
                    flex-direction: column;


                    &>h6 {
                        font-size: 14px;
                        text-transform: uppercase;

                        color: #7D8081;

                        &>img {
                            margin-right: 7px;
                        }
                    }

                    &>h3 {
                        margin-top: 7px;
                        margin-bottom: 20px;

                        font-size: 40px;
                        text-wrap: balance;

                        text-transform: uppercase;

                        line-height: 125%;

                        color: #232728;
                    }


                    &>p {
                        font-size: 1em;
                        font-weight: 600;


                        line-height: 188%;

                        color: #7D8081;
                    }
                }

                .about-feature {
                    width: 100%;

                    padding-bottom: 30px;

                    display: flex;

                    border-bottom: 1px solid #EFE6E1;


                    .about-feature-item {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        gap: 22px;

                        .about-feature-icon {
                            width: 70px;
                            height: 70px;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            border-radius: 50%;

                            background: #EFE6E1;

                            &>svg {
                                font-size: 40px;

                                transition: color 500ms ease-in-out;

                                &:hover {
                                    color: #CA4445;
                                }
                            }


                        }

                        .about-feature-title {
                            font-weight: 700;
                            font-size: 1em;
                            line-height: 150%;
                            text-transform: uppercase;

                            color: #232728;
                        }
                    }
                }

                .about-list-wrapper {
                    width: 100%;

                    display: flex;
                    justify-content: space-between;

                    .about-list {
                        width: 100%;

                        display: flex;
                        flex-direction: column;

                        &>ul {
                            width: 100%;

                            display: flex;
                            flex-direction: column;

                            list-style: none;

                            &>li {
                                margin-top: 18px;
                                margin-right: -10px;

                                display: flex;
                                align-items: center;

                                font-size: 1em;
                                font-weight: 500;
                                line-height: 19px;

                                list-style: none;

                                color: #7D8081;

                                &:hover>svg {
                                    color: #232728;
                                }

                                &>svg {
                                    margin-right: 8px;

                                    color: #CA4445;

                                    transition: color 500ms ease-in-out;
                                }
                            }
                        }


                        & button {
                            margin-top: 47px;
                            padding: 19px 40px;

                            border: 0;

                            text-transform: uppercase;
                            font-variant-caps: all-small-caps;

                            font-size: 1.1em;
                            font-weight: 700;

                            background: #232728;
                            color: #fff;

                            cursor: pointer;

                            position: relative;

                            z-index: 10;

                            transition: color 500ms ease;

                            &::after {
                                content: '';

                                width: 100%;
                                height: 0%;

                                display: block;

                                background: #CA4445;

                                position: absolute;
                                top: 0;
                                left: 0;

                                transition: height 500ms ease;

                                z-index: -1;
                            }

                            &:hover {
                                color: #fff;

                                &::after {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }
 
    60% {
        transform: translateY(0px);
    }
   
    100% {
        transform: translateY(-10px);
    }
}

@keyframes topBottom {
    0% {
        transform: scaleY(0.8);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.8);
    }
}

@media (width <=1024px) {

    .about-section {
        height: auto !important;
    }

    .about-image {
        margin-right: 50px !important;

        & img:not(.about-main-image) {
            display: none !important;
        }
    }

    .about-image::after {
        display: none;
    }

    .about-image > img {
        object-fit: cover;
        width: 100%;
    }

    .about-second-image {
        display: none !important;
    }

    .about-content-top{
        margin: 0 !important;

        & > h3 {
            font-size: 35px !important;
        }

        & > p:last-child {
            margin-bottom: 20px !important;
        }
    }

    .about-feature-item {
        gap: 10px !important;

        .about-feature-icon {
            width: 60px !important;
            height: 60px !important;

            & > svg {
                font-size: 30px !important
            }
        }

    }
}

@media (width <= 767px) {
    .about-cards-wrapper {
        flex-wrap: wrap;
        justify-content: center;

        .about-card {
            width: 100% !important;
        }
    }

    .about-section {
        flex-direction: column;

        .about-image {
            width: 100% !important;

            margin: 0 !important;
        }
    }

    .about-content {
        width: 100% !important;

        .about-content-top {
            & > h6 {
                margin: 10px 0 !important;
            }
        }
    }
    

}