.services-container {
    display: flex;

    .services-left {
        width: 50%;
        height: 100vh;

        background-image: url('../../../public/services-bg-left.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .services-card-right {
        width: 50%;
        height: 100vh;

        padding: 30px 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .services-card {
            width: 80%;
            height: 320px;

            background: #232728;

            &:hover > .service-content > span {
                background-color: #fff;

                & > svg {
                    color: #CA4445;
                }
            }


            .service-content {
                padding: 15px 30px;

                display: flex;
                flex-direction: column;
                justify-content: center;

                &>span {
                    width: 50px;
                    height: 50px;

                    margin-bottom: 20px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: #CA4445;

                    transition: all 500ms ease-in-out;

                    &>svg {
                        color: #fff;

                        font-size: 40px;

                        transition: all 500ms ease-in-out;
                    }
                }

                & p {
                    color: #fff;

                    font-size: 22px;
                    font-variant: all-small-caps;
                }


            }

        }
    }
}

@media (width <= 3440px) {
    .services-card-right  {
        padding-top: 200px !important;
        
        justify-content: flex-start !important;
        gap: 100px !important;
    }
}

@media (width <= 1024px) {
    .services-left {
        background-position: top;
    }

    .services-card-right {
        padding-top: 0 !important;

        justify-content: flex-start !important;

        .services-card {
            height: 600px !important;
        }
    }
}

@media (width <= 767px) {
    .services-card-right {
        padding: 0 10px !important; 

        .services-card {
            width: 100% !important;

            .service-content {
                padding: 10px !important;

                & p {
                    font-size: 16px !important;
                }
            }
        }
    }
}