.services-container {
    display: flex;
    flex-direction: column;

    margin-bottom: 115px;

    .services-card {
        width: 100%; 
        height: 100vh;

        margin: 115px 0 0 0;
        padding: 115px 85px 120px 100px;

        display: flex;
        align-items: center;

        position: relative;


        background-color: #232728;

        z-index: 100;

        
        .service-content {
            width: 800px;
            height: 500px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #fff;

            transition: all 500ms ease-in-out;

            &:hover {
                background: #CA4445;
            }

            &:hover p {
                color: #fff;
            }

            &:hover + .services-image {
                rotate: 5deg;
            }

            &:hover + .services-image:nth-child(2) {
                rotate: -5deg;
            }

            & > p {
                width: 60%;


                color: #232728;
    
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 135%;
                
                transition: all 500ms ease-in-out;
            }
        }

        .services-image {
            width: 370px;
            height: 380px;

            background-image: url('../../../public/services-1.png');
            background-repeat: no-repeat;
            background-size: fill;
            background-position: center;

            position: absolute;
            left: 60%;

            transition: rotate 500ms ease-in-out;
        }

        &:nth-child(2) {
            margin-top: 0;
        }

        &:nth-child(2) .service-content {
            margin-left: auto;
        }

        &:nth-child(2) .services-image {
            left: 15%;

            background-image: url('../../../public/services-2.png');
        }

    }

}